**/models/embed/*
**/models/text/*
**/qdrant_data/*
**/chroma/*
**/pkg/*
*llama.log


!**/models/embed/.placeholder
!**/models/text/.placeholder
!**/qdrant_data/.placeholder
!**/chroma/.placeholder
!**/pkg/wrapper